//
//  Secrets.xcconfig
//  WeatherApp
//
//  Created by 양원식 on 5/20/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


// MARK: - 카카오 API KEY
//// API 키를 입력해주세요.
KAKAO_API_KEY = 321e8b4dce2ed54d115006b41269f982

// MARK: - 날씨 API KEY
//// API 키를 입력해주세요.
WEATHER_API_KEY =
